.playlistContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0.5em;
  grid-row-gap: 0.5em;
}

@media (min-width: 990px) {
  .playlistContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
